@import "./variables";

// mixins
@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin input {
  font-family: inherit;
  width: 100%;
  display: block;
  font-size: 1.5rem;
  color: $color-grey-dark;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 3px solid orange;
  &:focus {
    outline: none;
  }
}
