@import "../../sass/abstracts/variables";
.section-me {
  background-image: linear-gradient(
      to left bottom,
      rgba($color-primary, 0.75),
      rgba($color-primary, 0.75)
    ),
    url(../../public/assets/back-me.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.aboutme {
  width: 45vw;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.25);
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  padding: 4rem 4rem 8rem 4rem;
  padding-left: 7rem;
  font-size: 1.6rem;
  border-left: 1px solid rgba(255, 166, 0, 0.3);

  &__shape {
    height: 15rem;
    width: 15rem;
    float: left;
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem);
  }

  &__img {
    object-fit: cover;
  }

  &__heading {
    word-spacing: 1px;
    font-size: 4rem;
    margin-bottom: 1.5rem;
    color: $color-white;
  }
  &__text {
    font-size: 1.8rem;
    line-height: 1.8;
  }
  &__socials {
    float: right;
  }
  &__icon {
    &:not(:last-child) {
      padding-right: 1rem;
      display: inline-block;
    }

    svg {
      fill: $color-secondary;
      transition: all 0.2s ease;
      &:hover {
        fill: $color-white;
      }
    }
  }
}
