@import "../../sass/abstracts/mixins.scss";
.form {
  padding: 4rem 6rem 8rem 6rem;
  &__group {
    margin-bottom: 2rem;
    // &:not(:last-child) {
    //   margin-bottom: 2rem;
    // }
  }

  &__input {
    @include input;
    padding: 1.5rem 2rem;
  }

  &__label {
    display: block;
    color: $color-secondary;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 0.7rem;
    display: block;
  }

  &__textarea {
    @include input;
    padding: 1.5rem 2rem 8rem 2rem;
    resize: none;
  }
}

.heading {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 4rem;
}

.action {
  text-align: center;
}

.btn {
  width: 100%;
  padding: 1.5rem 2rem;
  border-radius: 10rem;
  font-family: inherit;
  font-size: 1.6rem;
  cursor: pointer;
  border: none;
  background-color: #ffa500;

  color: $color-white;
  &:focus {
    outline: none;
  }
}
